/* NAVBAR SECTION */

.navbar {
    display: flex;
    justify-content: center;
    background-color: #1B5E20; 

    max-width: 100%;
}

.navbar ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    display: block;
    padding: 5px 10px;
    margin: 10px 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight: lighter;
    color: #F1F8F4;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
}

.navbar ul li a:hover {
    color: #1B5E20;
    background-color: #F1F8F4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight: bold;
    padding: 5px 10px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0);
    transform: translateY(-1px);
}


/* PROFILE MENU */

.section-profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #A5D6A7;
    border-radius: 20px;
    padding: 40px 0px;
    margin-right: 50px;
    margin-left: 50px;
    box-shadow: 10px 25px 60px;
}

.section-profile h1,
.section-profile p,
.section-profile button {
    margin: 0;
    padding: 0;
}

.section-profile h1 {
    color: #1B5E20;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 60px;
}

.section-profile p {
    color: #263238;
    opacity: 0.75;
    font-family: Arial, Helvetica, sans-serif;
}

.section-profile button {
    margin-top: 15px;
    background-color: #2E7D32;
    border: 7px solid #2E7D32;
    border-radius: 5px;
    box-shadow: 3px 2px 10px;
    transition: font-weight 0.2s ease-in, transform 0.2s ease-in;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.section-profile button:hover {
    margin-top: 15px;
    background-color: #2E7D32;
    border: 7px solid #2E7D32;
    border-radius: 5px;
    color: #FFFFFF;
    transform: translateY(-2px);
    font-weight: bold;
}

.section-profile img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: 5px solid #A5D6A7;
    box-shadow: 5px 3px 15px;
    border-radius: 50%;
}


/* SECTION SLIDER */




/* FOOTER */

.rodape,
.rodape-sobremim
.rodape-links
.rodape-contatos {
    margin: 0;
    padding: 0;
}

.rodape {

    background-color: #1B5E20;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F1F8F4;

    padding: 10px 50px;
}

.rodape h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: lighter;
}

.rodape p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-bottom: 10px;
}

.rodape a {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 12px;
    flex-direction: column;
    text-decoration:underline;
    margin-bottom: 10px;
    color: #F1F8F4;
}