/* NAVBAR SECTION */

.navbar {
    display: flex;
    justify-content: center;
    background-color: #1B5E20; 

    max-width: 100%;
}

.navbar ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    display: block;
    padding: 5px 10px;
    margin: 10px 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight: lighter;
    color: #F1F8F4;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
}

.navbar ul li a:hover {
    color: #1B5E20;
    background-color: #F1F8F4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight: bold;
    padding: 5px 10px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0);
    transform: translateY(-1px);
}