.navbar {
    display: flex;
    justify-content: center;
    background-color: #115cce;
}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    display: block;
    padding: 5px 10px;
    margin: 10px 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

.navbar ul li a:hover {
    color: #115cce;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 5px 10px;
    box-shadow: 0px 4px 7px rgb(0, 0, 0);
    transform: translateY(-1px);
}